<style>
    table, table * {
        margin: 0;
        padding: 0;
    }
    /* Widths */
    #app {
        width: 800px;
    }
    table {
        width: 100%;
    }
    table th, table td {
        width: 14.28571%;
    }

    /* Match the styling of the paper. This includes
       - Text alignment
       - Line breaks
       - Borders
       - Colors
    */

    /* Borders */
    table, tbody {
        border-collapse: collapse;
        border: 1px solid black;
    }
    thead th, thead td ,
    tbody th, tbody td {
        border-left: 1px solid black;
        border-right: 1px solid black;
    }

    /* Background color */
    thead th {
        background-color: #DDD;
    }

    /* Text alignment */
    thead th {
        text-align: center;
    }
    tbody .total-tax-levy, tbody .percent-change,
    tbody .assessed-total-value, tbody .assessed-taxable-value, 
    tbody .tax-rate,  tbody .tax-amount, tfoot .tax-amount {
        text-align: right;
    }
</style>

<!-- Layout -->
<div id="app">
    <div id="about">
        <p>
            Your house is assessed to determine its Assessed Total Value, then
            excemptions are subtracted to it to produce the Assessed Taxable Value.
            This times the tax rate (in permil) produces your Tax Amount.
        </p>
        <p>
            If you add up the county, village and school tax rates, it comes to about
            $1,000, so your tax payments are about equal to the assessed value of your
            house. There are also the sewer and solid waste taxes, but those are much
            smaller.
        </p>
    </div>
    <div id="directions">
        <p>
            Enter the assessed taxable value of your house to find out what you pay in
            taxes and how you compare to everyone else. You can find your house's
            assessed total and taxable values [here]().
        </p>
    </div>
    <div id="input">
    </div>
    <table>
        <thead>
            <tr>
                <th class="levy-description">Levy Description</th>
                <th class="total-tax-levy">Total Tax Levy</th>
                <th class="percent-change">% Change from Prior Year</th>
                <th class="assessed-total-value">Assessed Total Value</th>
                <th class="assessed-taxable-value">Assessed Taxable Value</th>
                <th class="tax-rate">Tax Rate</th>
                <th class="tax-amount">Tax Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr class="county">
                <td class="levy-description">2012 COUNTY TAX</td>
                <td class="total-tax-levy">27,078,607</td>
                <td class="percent-change">3.17</td>
                <td class="assessed-total-value"></td>
                <td class="assessed-taxable-value"></td>
                <td class="tax-rate">194.908400</td>
                <td class="tax-amount"></td>
            </tr>
            <tr class="village">
                <td class="levy-description">2012-2013 VILLAGE TX</td>
                <td class="total-tax-levy">33,093,095</td>
                <td class="percent-change">3.72</td>
                <td class="assessed-total-value"></td>
                <td class="assessed-taxable-value"></td>
                <td class="tax-rate">238.420000</td>
                <td class="tax-amount"></td>
            </tr>
            <tr class="school">
                <td class="levy-description">2012-2013 School Tax</td>
                <td class="total-tax-levy">127,045,773</td>
                <td class="percent-change">2.89</td>
                <td class="assessed-total-value"></td>
                <td class="assessed-taxable-value"></td>
                <td class="tax-rate">868.927000</td>
                <td class="tax-amount"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="total">
                <td class="note" colspan="6" style="text-align: right;">Total:</td>
                <td class="tax-amount"></td>
            </tr>
        </thead>
    </table>
</div>


<!-- Libraries -->
<script src="jquery.min.js" type="text/javascript"></script>
<script src="underscore-min.js" type="text/javascript"></script>
<script src="backbone-min.js"></script>
<script src="backbone.queryparams.js"></script>
<script>
$.fn.serializeObject = function() {
    var o = {};
    var a = this.serializeArray();
    $.each(a, function() {
        if (o[this.name] !== undefined) {
            if (!o[this.name].push) {
                o[this.name] = [o[this.name]];
            }
            o[this.name].push(this.value || '');
        } else {
            o[this.name] = this.value || '';
        }
    });
    return o;
};
</script>

<!-- Templates -->
<script type="text/template" id="input-basic">
    <form class="calculator">
        <label for="total">Assessed total value</label>
        <input class="slider" name="total" type="range" min="0" max="100000" value="<%= total %>" step="1000" />
    </form>
</script>
<script type="text/template" id="input-advanced">
    <form class="calculator">
        <label for="total">Assessed total value</label>
        <input name="total" type="text" value="<%= total %>" pattern="[0-9]*" />
        <label for="taxable_county">Assessed taxable value for county tax</label>
        <input name="taxable_county" type="text" value="<%= taxable_county %>" pattern="[0-9]*" />
        <label for="taxable_village">Assessed taxable value for village tax</label>
        <input name="taxable_village" type="text" value="<%= taxable_village %>" pattern="[0-9]*" />
        <label for="taxable_school">Assessed taxable value for school tax</label>
        <input name="taxable_school" type="text" value="<%= taxable_school %>" pattern="[0-9]*" />
        <input type="submit" value="Go">
    </form>
</script>
<script type="text/template" id="distribution">
    <ul>
        <li>Your assessed total value in the <%= total %>th percentile of assessed total values.</li>
        <li>Your assessed taxable value for county taxes is in the <%= taxable_county %>th percentile.</li>
        <li>Your assessed taxable value for village taxes is in the <%= taxable_village %>th percentile.</li>
        <li>Your assessed taxable value for school taxes is in the <%= taxable_school %>th percentile.</li>
    </ul>
</script>

<script>
    // Views for basic and advanced statistics
    var InputView = Backbone.View.extend({
        el: "#input",
        render: function(template_css, houseparams) {
            var template = _.template($(template_css).html(), houseparams)
            this.$el.html(template)
        },
        output: function(e) {
            var raw = $(e.currentTarget).serializeObject()
            return output(raw)
        },
        onlydigits: function(e) {
            e.currentTarget.value = e.currentTarget.value.replace(/[^0-9]/g, '');
        },
        events: {
            "change .calculator .slider": "output",
            "submit .calculator": "output",
            "keyup input[type=text]": "onlydigits"
        }
    })
    // http://stackoverflow.com/questions/2901102/how-to-print-a-number-with-commas-as-thousands-separators-in-javascript
    var pretty= function(x) {
        // Separate three digits by a comma.

        // Separate places greater than zero from those less than zero
        var components = x.toString().split('.')

        // Add commas
        var before_decimal_point = components[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",")

        // Add the fraction back
        var after_decimal_point;
        if (components.length === 2) {
            after_decimal_point = components[1].substring(0,4)
            while (after_decimal_point.length < 4) {
                after_decimal_point += '0'
            }
        } else {
            after_decimal_point = '0000';
        }

        return before_decimal_point + '.' + after_decimal_point
    }

    var output = function(raw) {
        // Validate the form data, then print it pretty-like.
        var validated = { total: parseFloat(raw.total) }

        if (isNaN(validated.total)) {
            alert('Something went wrong.')
            return false;
        }

        var fields = ['taxable_county', 'taxable_village', 'taxable_school']
        fields.map(function(name){
            validated[name] = raw[name] ? parseFloat(raw[name]) : validated.total
        })

        var county_tax_rate = parseFloat($('tr.county td.tax-rate').text().replace(',', ''))
        var village_tax_rate = parseFloat($('tr.village td.tax-rate').text().replace(',', ''))
        var school_tax_rate = parseFloat($('tr.school td.tax-rate').text().replace(',', ''))

        // Copy input values
        $("td.assessed-total-value").text(pretty(validated.total))
        $("tr.county td.assessed-taxable-value").text(pretty(validated.taxable_county))
        $("tr.village td.assessed-taxable-value").text(pretty(validated.taxable_village))
        $("tr.school td.assessed-taxable-value").text(pretty(validated.taxable_school))

        var amount_county = validated.taxable_county * county_tax_rate / 1000
        var amount_village = validated.taxable_village * village_tax_rate / 1000
        var amount_school = validated.taxable_school * county_tax_rate / 1000
        // Compute tax amount by item
        $("tr.county td.tax-amount").text(pretty(amount_county))
        $("tr.village td.tax-amount").text(pretty(amount_village))
        $("tr.school td.tax-amount").text(pretty(amount_school))

        // Total tax amount
        $("tr.total td.tax-amount").text(pretty(amount_county + amount_village + amount_school))
        return false
    }

    // Routes
    var inputView = new InputView()
    var Router = Backbone.Router.extend({
        routes: {
            "": "calculator",
        },
        calculator: function(params){
            var median = 19000
            // Parse parameters
            if (!params) {
                var params = {}
            }

            var fields = ['total', 'taxable_county', 'taxable_village', 'taxable_school']
            fields.map(function(name){
                if (!params[name]) {
                    params[name] = median
                }
            })

            // Compute the values for these (potentially default) form parameters
            output(params)

            // Add the input stuff.
            if (params.advanced === 'true'){
                inputView.render('#input-advanced', params)
            } else {
                inputView.render('#input-basic', params)
            }
        }
    })

    // Go
    var router = new Router()
    Backbone.history.start()
</script>
